html, body {
  height: 100%;
  overflow-y: auto;
}

#sidebar {
  background-color: #f1f1f1;
  width: 150px;
  position: fixed;
  overflow-y: auto;
  height: 100%;
}
#sidebar .active {
  background-color: #c1c1c1;
}

#content {
  margin-top: 20px;
  margin-left: 170px;
}

.active {
  pointer-events: none;
  cursor: default;
}

#map-canvas{
  width: 500px;
  height: 500px;
  background-color: #CCC;
}
